html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #659DBD;
    color: white;
    padding: 10px 15px;
    height: 100px;
}

.burger {
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(2);
    margin-right: 10px;
}

.burger:hover {
    filter: brightness(0.7);
    opacity: 0.8;
}

.messanger {
    margin-right: 50px;
    margin-left: 50px;
}

.search-icon {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(2);
}

.search-icon:hover {
    filter: brightness(0.7);
    opacity: 0.8;
}

.window {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #FBEEC1;
}

@keyframes pulse {
    0% {
        transform: scale(2.5);
        opacity: 1;
    }
    50% {
        transform: scale(2.7);
        opacity: 0.7;
    }
    100% {
        transform: scale(2.5);
        opacity: 1;
    }
}

.start-chat-button {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 30px;
    border: none;
    background-color: #659DBD;
    border-radius: 100%;
    transform: scale(2.5);
    font-size: 25px;
    cursor: pointer;

    animation: pulse 5s infinite;
}

.start-chat-button:hover {
    filter: brightness(0.7);
    opacity: 0.8;
}

.users-container-header {
    display: flex;
}

.close-user-selection-button {
    border: none;
    background: none;
}

.close-user-selection-button:hover {
    filter: brightness(0.7);
    opacity: 0.8;
}

.users-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DAAD86;
}

.user-selection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#chatList{
    list-style-type: none;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
}

#chatList li {
    display: flex;
    align-items: center;
    padding: 10px;
}

#chatList a {
    color: inherit;
    display: flex;
}

.user-icon {
    transform: scale(1.9);
    margin-bottom: 50px;
    margin-right: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.message-link {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10%;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;

    transform: translateX(-100%);

    word-wrap: break-word;

    transition: background-color 0.6s ease;
    animation: slide-in 0.5s ease forwards;
}

.message-link:hover {
    background-color: #e0e0e0;
}

.user {
    font-weight: bold;
    font-size: 16px;
}

.message-text {
    color: #555;
    margin-top: 5px;
    word-wrap: break-word;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-beep {
    display: flex;
    flex-grow: 1;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
}

.time-text {
    margin-top: 4px;
    color: gray;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    background-color: lightgray;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;
}